<!doctype html>
<html lang="en" >
<head data-th-replace="fragments/layout :: headFragment(title='All items')"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div data-th-each="item : ${items}">
                <h4>[[${item.name}]]</h4>
                <a data-th-href="@{/items/{id}(id=${item.id})}">
                    <img data-th-src="@{item.imageLink}" alt=[[${item.name}]]>
                </a>
            </div>
        </div>
    </div>
</div>

<div data-th-include="fragments/layout :: scriptsFragment" data-th-remove="tag"></div>
</body>
</html>